In [1]:
# Importing Requried libararies
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("english.xlsx")

In [3]:
df.tail()

,pagePath,pageTitle,sessionSource,sessionMedium,totalUsers,screenPageViews,sessions,eventCount,averageSessionDuration
9995,/entertainment/which-of-these-has-two-zeros-tw...,Which of these has two zeros two fours' viral ...,(direct),(none),14,14,14,42,0.000000
9996,/entertainment/who-is-mohan-babus-wife-read-in...,Who is Mohan Babu's wife? Read intriguing deta...,(direct),(none),14,14,14,42,0.000000
9997,/entertainment/who-is-sneha-paul-take-a-look-a...,Who is Sneha Paul? Take a look at the actor's ...,google,organic,14,15,14,43,4.936822
9998,/entertainment/who-is-the-girl-in-the-new-niss...,Who is the girl in the new Nissan ad commercia...,(direct),(none),14,15,14,49,26.181421
9999,/entertainment/zakir-hussain-opens-up-about-hi...,"Zakir Hussain opens up about his family, says ...",google,organic,14,14,14,45,28.270644

In [4]:
df1 = df.loc[(df['sessionSource']=="(not set)") | (df['sessionSource']=="DailyHunt")]

In [5]:
df1['sessionSource'].replace("(not set)", "DailyHunt", inplace=True)

/Users/republic/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [6]:
df2 = df.loc[(df['sessionSource'] != "(not set)") & (df['sessionSource'] != "DailyHunt")]

In [7]:
df1.head()

,pagePath,pageTitle,sessionSource,sessionMedium,totalUsers,screenPageViews,sessions,eventCount,averageSessionDuration
0,/Republic TV English/loksabha24/n592372942,Election Commission Makes Fresh Electoral Bond...,DailyHunt,referral,622500,633983,625903,1267966,0.0
1,/Republic TV English/india/n591347012,Mysuru's 31-Year-Old 'King' Yaduveer Wadiyar G...,DailyHunt,referral,617682,633199,626574,1266398,0.0
2,/Republic TV English/india/n591255170,Take Permission Before Sleeping With Unmarried...,DailyHunt,referral,590114,615405,624853,1230810,0.0
3,/Republic TV English/india/n592659936,Azam Khan Sentenced to 7-Year Jail Term in Dun...,DailyHunt,referral,558223,570493,567743,1140986,0.0
4,/Republic TV English/loksabha24/n592124928,BREAKING: EC Announces Assembly Election Dates...,DailyHunt,referral,375349,386576,393453,773152,0.0

In [8]:
df2.head()

,pagePath,pageTitle,sessionSource,sessionMedium,totalUsers,screenPageViews,sessions,eventCount,averageSessionDuration
29,/sports/cricket/ipl-2024-tickets-how-to-buy-ta...,IPL 2024 Tickets: How to buy Tata IPL 2024 tic...,google,organic,25765,30029,28071,103088,63.332072
33,/sports/cricket/r-ashwin-savage-response-to-si...,R Ashwin's savage response to Sivaramakrishnan...,lm.facebook.com,referral,16389,17711,16764,48667,45.151639
35,/,"Latest News, News Today, Breaking News, India ...",(direct),(none),14789,35777,42222,230276,219.908045
37,/,(not set),(direct),(none),14471,43889,35154,85718,74.164656
38,/entertainment/tamil-cinema/aishwarya-rajinika...,Aishwarya Rajinikanth Talks About Ex-Husband D...,lm.facebook.com,referral,14464,15249,14577,44653,43.062227

In [9]:
df1[['drop1', 'drop2','category','drop3']] = df1['pagePath'].str.split('/', n=3, expand=True)

/Users/republic/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [10]:
df1 = df1.drop(['drop1', 'drop2','drop3','pagePath'], axis=1)

In [11]:
df1.head()

,pageTitle,sessionSource,sessionMedium,totalUsers,screenPageViews,sessions,eventCount,averageSessionDuration,category
0,Election Commission Makes Fresh Electoral Bond...,DailyHunt,referral,622500,633983,625903,1267966,0.0,loksabha24
1,Mysuru's 31-Year-Old 'King' Yaduveer Wadiyar G...,DailyHunt,referral,617682,633199,626574,1266398,0.0,india
2,Take Permission Before Sleeping With Unmarried...,DailyHunt,referral,590114,615405,624853,1230810,0.0,india
3,Azam Khan Sentenced to 7-Year Jail Term in Dun...,DailyHunt,referral,558223,570493,567743,1140986,0.0,india
4,BREAKING: EC Announces Assembly Election Dates...,DailyHunt,referral,375349,386576,393453,773152,0.0,loksabha24

In [12]:
unique_categories = df1["category"].unique()

In [13]:
df1['category'].replace(['World','world','worldnewsuk',',''World','worldnewsrussia'], 'World News', inplace=True)
df1['category'].replace(['India','india','indianews'], 'India News', inplace=True)
df1['category'].replace(['entertainment','Entertainment','entertainmentmalayalamcinema','entertainmentott','entertainmenttelevision','entertainmentcelebrities','entertainmenttelugucinema','entertainmenthollywood','real-estate','celebrities','tamil-cinema','Celebrities','Television','Badminton'], 'Entertainment News', inplace=True)
df1['category'].replace(['cricket','sports','ipl24','hockey','IPL','badminton','Sports','Cricket','football','sportswwenew'], 'Sports News', inplace=True)
df1['category'].replace(['business','economynew','Business'], 'Business News', inplace=True)
df1['category'].replace(['elections','Lok Sabha Election 2024','Elections','loksabha24'], 'Politics News', inplace=True)
df1['category'].replace(['science','technology','techappsnew','techartificialintelligence','Technology','techgadgetsnew'], 'Science & Tech', inplace=True)
df1['category'].replace(['defencenew','global-defence-news','Defence'], 'Defence', inplace=True)
df1['category'].replace(['lifestylefoodnew','lifestyle','lifestyleanimalspets','lifestylebeauty','lifestyleartculturenew','lifestylefashion','lifestylefestivalsnew','Lifestyle Beauty','lifestylefitnessnew','Lifestyle','Lifestyle Fitness'], 'Lifestyle & Health', inplace=True)
df1['category'].replace(['Education','exam-results','education','entrance-exams'], 'Education', inplace=True)
df1['category'].replace([''], 'Homepage', inplace=True)
df1['category'].replace(['livetv','live-tv'], 'Livetv', inplace=True)

In [14]:

# Define the categories to keep
categories_to_keep = [
    'Politics News', 'India News', 'Entertainment News', 'Sports News',
    'Lifestyle & Health', 'Education', 'Business News', 'World News',
    'Defence', 'Science & Tech','Homepage','Livetv'
]

# Replace other categories with 'Other'
df1['category'] = df1['category'].apply(lambda x: x if x in categories_to_keep else 'Other')

# Print the modified DataFrame

In [15]:
df1['category'].unique()

array(['Politics News', 'India News', 'Entertainment News', 'Sports News',
       'Lifestyle & Health', 'Education', 'Business News', 'World News',
       'Defence', 'Other', 'Science & Tech', 'Homepage'], dtype=object)

### DF2

In [16]:
df2.head()

,pagePath,pageTitle,sessionSource,sessionMedium,totalUsers,screenPageViews,sessions,eventCount,averageSessionDuration
29,/sports/cricket/ipl-2024-tickets-how-to-buy-ta...,IPL 2024 Tickets: How to buy Tata IPL 2024 tic...,google,organic,25765,30029,28071,103088,63.332072
33,/sports/cricket/r-ashwin-savage-response-to-si...,R Ashwin's savage response to Sivaramakrishnan...,lm.facebook.com,referral,16389,17711,16764,48667,45.151639
35,/,"Latest News, News Today, Breaking News, India ...",(direct),(none),14789,35777,42222,230276,219.908045
37,/,(not set),(direct),(none),14471,43889,35154,85718,74.164656
38,/entertainment/tamil-cinema/aishwarya-rajinika...,Aishwarya Rajinikanth Talks About Ex-Husband D...,lm.facebook.com,referral,14464,15249,14577,44653,43.062227

In [17]:
df2[['drop1', 'category','drop3']] = df2['pagePath'].str.split('/', n=2, expand=True)

/Users/republic/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [18]:
df2.head()

,pagePath,pageTitle,sessionSource,sessionMedium,totalUsers,screenPageViews,sessions,eventCount,averageSessionDuration,drop1,category,drop3
29,/sports/cricket/ipl-2024-tickets-how-to-buy-ta...,IPL 2024 Tickets: How to buy Tata IPL 2024 tic...,google,organic,25765,30029,28071,103088,63.332072,,sports,cricket/ipl-2024-tickets-how-to-buy-tata-ipl-2...
33,/sports/cricket/r-ashwin-savage-response-to-si...,R Ashwin's savage response to Sivaramakrishnan...,lm.facebook.com,referral,16389,17711,16764,48667,45.151639,,sports,cricket/r-ashwin-savage-response-to-sivaramakr...
35,/,"Latest News, News Today, Breaking News, India ...",(direct),(none),14789,35777,42222,230276,219.908045,,,None
37,/,(not set),(direct),(none),14471,43889,35154,85718,74.164656,,,None
38,/entertainment/tamil-cinema/aishwarya-rajinika...,Aishwarya Rajinikanth Talks About Ex-Husband D...,lm.facebook.com,referral,14464,15249,14577,44653,43.062227,,entertainment,tamil-cinema/aishwarya-rajinikanth-talks-about...

In [19]:
df2 = df2.drop(['drop1','drop3','pagePath'], axis=1)

In [20]:
unique_categories2 = df2["category"].unique()

In [21]:
print(unique_categories2)

['sports' '' 'entertainment' 'education' 'web-stories' 'business' 'livetv'
 'india' 'info' 'defence' 'tech' '404' 'world-news' 'elections' 'topics'
 'initiatives' '500' 'lifestyle' 'politics' 'science' 'contact-us'
 'latest-news' 'opinion' 'economy' 'the-debate' 'shorts' 'videos' 'shows'
 'galleries' 'careers' 'breaking-news' 'search' 'anchors-and-authors'
 'travel' 'about-us' 'privacy-policy' 'policies-disclaimers'
 'defaultInterstitial' 'rss' 'poll' 'health' 'viral' 'careers-JD'
 'fact-check' 'download' 'sitemap' 'republic-summit']

In [22]:
df2['category'].replace(['World','world','worldnewsuk',',''World','worldnewsrussia','world-news'], 'World News', inplace=True)
df2['category'].replace(['India','india','indianews'], 'India News', inplace=True)
df2['category'].replace(['entertainment','Entertainment','entertainmentmalayalamcinema','entertainmentott','entertainmenttelevision','entertainmentcelebrities','entertainmenttelugucinema','entertainmenthollywood','real-estate','celebrities','tamil-cinema','Celebrities','Television','Badminton'], 'Entertainment News', inplace=True)
df2['category'].replace(['cricket','sports','ipl24','hockey','IPL','badminton','Sports','Cricket','football','sportswwenew'], 'Sports News', inplace=True)
df2['category'].replace(['business','economynew','economy','Business'], 'Business News', inplace=True)
df2['category'].replace(['elections','poll','Lok Sabha Election 2024','Elections','loksabha24','politics'], 'Politics News', inplace=True)
df2['category'].replace(['science','tech','technology','techappsnew','techartificialintelligence','Technology','techgadgetsnew'], 'Science & Tech', inplace=True)
df2['category'].replace(['defencenew','global-defence-news','Defence'], 'Defence', inplace=True)
df2['category'].replace(['lifestylefoodnew','lifestyle','lifestyleanimalspets','lifestylebeauty','lifestyleartculturenew','lifestylefashion','lifestylefestivalsnew','Lifestyle Beauty','lifestylefitnessnew','Lifestyle','Lifestyle Fitness','travel','health'], 'Lifestyle & Health', inplace=True)
df2['category'].replace(['Education','exam-results','education','entrance-exams'], 'Education', inplace=True)
df2['category'].replace([''], 'Homepage', inplace=True)
df2['category'].replace(['livetv','live-tv'], 'Livetv', inplace=True)

In [23]:
# Define the categories to keep
categories_to_keep_2 = [ 'Sports News','Entertainment News', 'Education',
       'web-stories', 'Business News', 'Livetv', 'India News', 'info',
       'defence', 'Science & Tech', 'Politics News',
       'topics','Lifestyle & Health',
    'Politics News', 'India News', 'Sports News','World News',
    'Defence','Homepage','Livetv']

# Replace other categories with 'Other'
df2['category'] = df2['category'].apply(lambda x: x if x in categories_to_keep_2 else 'Other')

# Print the modified DataFrame

In [24]:
df2['category'].unique()

array(['Sports News', 'Homepage', 'Entertainment News', 'Education',
       'web-stories', 'Business News', 'Livetv', 'India News', 'info',
       'defence', 'Science & Tech', 'Other', 'World News',
       'Politics News', 'topics', 'Lifestyle & Health'], dtype=object)

In [25]:
df2.head()

,pageTitle,sessionSource,sessionMedium,totalUsers,screenPageViews,sessions,eventCount,averageSessionDuration,category
29,IPL 2024 Tickets: How to buy Tata IPL 2024 tic...,google,organic,25765,30029,28071,103088,63.332072,Sports News
33,R Ashwin's savage response to Sivaramakrishnan...,lm.facebook.com,referral,16389,17711,16764,48667,45.151639,Sports News
35,"Latest News, News Today, Breaking News, India ...",(direct),(none),14789,35777,42222,230276,219.908045,Homepage
37,(not set),(direct),(none),14471,43889,35154,85718,74.164656,Homepage
38,Aishwarya Rajinikanth Talks About Ex-Husband D...,lm.facebook.com,referral,14464,15249,14577,44653,43.062227,Entertainment News

In [26]:
result = df1.append(df2, ignore_index=True)

In [27]:
c

,pageTitle,sessionSource,sessionMedium,totalUsers,screenPageViews,sessions,eventCount,averageSessionDuration,category
0,Election Commission Makes Fresh Electoral Bond...,DailyHunt,referral,622500,633983,625903,1267966,0.0,Politics News
1,Mysuru's 31-Year-Old 'King' Yaduveer Wadiyar G...,DailyHunt,referral,617682,633199,626574,1266398,0.0,India News
2,Take Permission Before Sleeping With Unmarried...,DailyHunt,referral,590114,615405,624853,1230810,0.0,India News
3,Azam Khan Sentenced to 7-Year Jail Term in Dun...,DailyHunt,referral,558223,570493,567743,1140986,0.0,India News
4,BREAKING: EC Announces Assembly Election Dates...,DailyHunt,referral,375349,386576,393453,773152,0.0,Politics News

In [28]:
# Define custom aggregation functions
agg_funcs = {
    'totalUsers': np.sum,
    'screenPageViews': np.sum,
    'sessions': np.sum,
    'eventCount': np.sum,
    'averageSessionDuration':np.mean
    # Use np.mean for this column
}

# Create a pivot table with custom aggregation functions
table = pd.pivot_table(result, values=['totalUsers', 'screenPageViews', 'sessions', 'eventCount','averageSessionDuration'],
                        index=['category'], aggfunc=agg_funcs)


table = table.sort_values(by='totalUsers', ascending=False)
table['% Users']=(table['totalUsers'])/(table['totalUsers'].sum())*100

# Print the resulting pivot table
print(table)

                    averageSessionDuration  eventCount  screenPageViews  \
category
India News                       53.247483     7676945          3800602
Politics News                    58.168117     2919380          1461636
Entertainment News               44.174498     1466967           581645
Sports News                      36.662166      915403           366981
Lifestyle & Health               37.724100      172935            84331
Education                        52.864432      257278            90536
Business News                    64.566388      213112            78984
info                             64.949795      263445            89494
Science & Tech                   66.040552      228465            71787
Homepage                        138.808262      646922           171228
World News                       53.522011      140777            56192
Other                            38.506938      128209            44872
web-stories                      13.462390       99522            34958
Livetv                          534.361770      464309            50933
defence                          94.427780       53506            17333
topics                           14.316760       11747             5145
Defence                           4.111316        4312             2156

                    sessions  totalUsers    % Users
category
India News           3762346     3661938  56.132538
Politics News        1449887     1407586  21.576382
Entertainment News    563768      548080   8.401322
Sports News           357328      338730   5.192271
Lifestyle & Health     84550       81326   1.246617
Education              80763       77502   1.188000
Business News          74309       66957   1.026360
info                   68605       65801   1.008640
Science & Tech         67739       62533   0.958546
Homepage              151268       58200   0.892127
World News             52631       47798   0.732678
Other                  38656       34588   0.530187
web-stories            33130       32791   0.502642
Livetv                 38925       16897   0.259008
defence                16217       15629   0.239571
topics                  5443        5357   0.082116
Defence                 2163        2022   0.030995

In [29]:
# Create a DataFrame
pivot_table = pd.DataFrame(table)

# Export the DataFrame to an Excel file
pivot_table.to_excel('English_pivot_table.xlsx', index=True)

In [30]:
# Create a DataFrame
Processed_data = pd.DataFrame(result)

# Export the DataFrame to an Excel file
Processed_data.to_excel('English_Processed_data.xlsx', index=True)